var config = {
  "ownerID": "Your ID here", // Your ID here (or use `process.env.OWNERID`)
  "token": "Your Discord Bot token here", // Your bot token here (or use `process.env.TOKEN`)
  "inviteFilter" : {
    "enabled": "false"
  },
  "defaultSettings" : {
    "prefix": ";;",
    "modLogChannel": "mod-log",
    "modRole": "Moderator",
    "adminRole": "Admin",
    "welcomeMessage": "Welcome {{user}}!",
    "welcomeEnabled": false
  }
};

module.exports = config;
