var config = { // NOTE: DO NOT LEAVE ANYTHING BLANK
  "ownerID": "", // Your ID here (or use `process.env.OWNERID`)
  "token": "", // Your bot token here (or use `process.env.TOKEN`)
  "defaultSettings" : {
    "prefix": "!",
    "modLogChannel": "mod-log",
    "modRole": "Moderator",
    "adminRole": "Admin",
    "welcomeChannel": "general",
    "welcomeMessage": "Welcome {{user}}!",
    "welcomeEnabled": "false", // Yes, this is a string due to the way some things in the code work
    "inviteFilterEnabled": "false", // Yes, this is a string due to the way some things in the code work
    "inviteWhitelist": ["discord-testers", "discord-developers"], // This can be changed, these are just defaults as an example
    "facepalms": "false", // If enabled, the bot will reply with the facepalm emoji whenever a message contains 'facepalm'
    "swearFilter": "false", // Yes, this is a string due to the way some things in the code work
    "swearWords": ["damn"] // An array of swear words. These should be lowercase. (of course, I have not included much for certain reasons...)
  },
    "dashboard" : {
    "oauthSecret": "", // The client secret from the Discord bot page, (you can also store this in an environmental variable)
    "callbackURL": `https://{{DOMAIN_NAME}}/callback`, // IMPORTANT: Replace {{DOMAIN_NAME}} with the domain name of the server the bot is hosted on
    "sessionSecret": "", // Go crazy on the keyboard here, this is used as a session secret, (you can also store this in an environmental variable)
    "domain": `{{DOMAIN_NAME}}`, // Similar to the callbackURL above but this is without the protocol
    "port": "33445", // The port that it should run on, (you can also store this in an environmental variable)
    "invitePerm": "470019271" // Invite permissions integer
  }
};

module.exports = config; 
