      <hr>

      <footer class="footer">
        <p><span id="copyright"><b>Copyright</b><br><i class="fa fa-copyright  fa-fw"></i> NdT3Development 2017 (Bot made by <a href="https://github.com/NdT3Development">NdT3Development</a>). <br>
					<i><i class="fa fa-code-fork  fa-fw"></i> Base code of the bot from <a href="https://github.com/An-Idiots-Guide/guidebot">An Idiot's Guide's GuideBot</a>. <br></i>
          <i><i class="fa fa-code-fork  fa-fw"></i> The dashboard is based on the one from <a href="https://github.com/YorkAARGH/York-Dev">the 'York-Dev' bot</a>. <br></i></span>
          <i class="fa fa-gavel fa-fw"></i> <a href="/legal">Legal</a><br><br>
					<i class="fa fa-arrow-up  fa-fw"></i> <a href="#top">Back to Top</a></p>
      </footer>
</div>
</div>

    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
